html, body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    color: #444;
    padding: 0;
    margin: 0;
    min-width: 325px;
    position: relative;
    font-size: 15px;
    background: #fff;
    user-select: none;
}
@media (min-resolution: 192dpi) {
    body {
        font-weight: 300;
    }
}
a {
    outline: none;
    color: #3477db;
}
#popupContent {
    opacity: 0;
    transition: opacity 200ms ease;
}
#title a {
    color: #ffffff;
}
#header {
    padding: 15px;
}

.group {
    padding: 10px 0;
}
.group:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

.menuOption {

    line-height: 2em;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 15px;
}
.menuOption:hover .optionText {
    text-decoration: underline;
}

.dark {
    background: #121212;
    color: #b8b8b8;
}
.dark .group {
    border-color: #555;
}
.dark .selectableIcons:hover {
    background: #666666;
    transition: all ease-out 0.5s;
}

select {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 16px;
    color: #555;
}
select:hover {
    background-color: #eee;
}
select option:checked {
    background-color: #ddd;
    color: #222;
}

